* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('Landing-bg.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 20px;
}

.content h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.content p {
    font-size: 1.2em;
    margin-bottom: 20px;
    max-width: 600px;
    line-height: 1.5;
}

.cta-button {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #0056b3;
}

.features {
    padding: 50px 20px;
    background-color: #4b9af4;
    text-align: center;
}

.features h2 {
    margin-bottom: 30px;
}

.feature-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.feature-item {
    width: 30%;
    background-color: White;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.testimonials {
    padding: 50px 20px;
    background-color: #77b2f5;
    text-align: center;
}

.testimonials h2 {
    margin-bottom: 30px;
}

.testimonial-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.testimonial-item {
    width: 30%;
    background-color: White;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-style: italic;
}

.testimonial-item span {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.contact {
    padding: 50px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.contact h2 {
    margin-bottom: 30px;
}

.contact form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.contact input, .contact textarea, .contact button {
    margin: 10px 0;
    padding: 15px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact button:hover {
    background-color: #0056b3;
}
